* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
}

#board {
    margin-bottom: 10rem;
}

#category {
    display: inline-block;
    font-weight: bold;
    background-color: #c3c3c3;
    padding: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
    border: 0.3rem outset black;
}

#clue {
    text-transform: uppercase;
}

#tiles {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.1rem;
    border: 0.5rem solid black;
    place-items: start;
    padding: 1rem;
}

.tile {
    display: flex;
    font-size: 3rem;
    background-color: #c3c3c3;
    align-items: center;
    justify-content: center;
    border: 0.5rem outset #8f8f8f;
    border-radius: 0.5rem;
    height: 1fr;
    --aspect-ratio: 1/1;
}

.tile-active {
    display: flex;
    font-size: 3rem;
    background-color: #d3d33c;
    align-items: center;
    justify-content: center;
    border: 0.8rem ridge #d0d02f;
    border-radius: 0.5rem;
    font-weight: bold;
    height: 1fr;
    --aspect-ratio: 1/1;
}

#tiles > * {
    width: 100%;
}
  
#tiles > .tile::before,
#tiles > .tile-active::before  {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}


/* Letters section */

#game-letters {
    background-color: blue;
    font-size: 3rem;
    padding: 3rem;
}

#letters {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 1rem;
}

#letters > * {
    width: 100%;
}

#letters > .letter::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
}

.letter {
    display: flex;
    font-size: 3rem;
    background-color: #c3c3c3;
    align-items: center;
    justify-content: center;
    border: 0.3rem outset black;
    border-radius: 0.5rem;
    height: 1fr;
    --aspect-ratio: 1/1;
    border: 0.5rem outset #8f8f8f;
    cursor: pointer;
}

button:disabled {
    background-color: #d3d33c;
    color: black;
    border: 0.5rem ridge #d0d02f;
}
